<!-- This View helps to view how many times a user was greeted -->
  <h4>Greeted User</h4>
  <a href="/">Back -><input type="button" class="btn" name="" value=""></a>
  <p class="text-center">{{thisUser}}</p>
