<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <title>GreetApp</title>
</head>
<body>
  <h4>Greeted User</h4>
  <a href="/">Back -></a>

  <ul class="">
    {{#if thisUser}}
    <p class="text-center">{{thisUser}}</p>
    {{/if}}
  </ul>
</body>
