<!-- INPUT DATA  -->

<div id="countPanel">
  <h2 id="keepTrk" class="panel-primary" name='greetCount' value=0>{{countGreeted}}</h2>
  <a href="/reset"><input type="button" id="resetBtn" class="btn btn-secondary" name="resetBtn" value="Reset Count" readonly="readonly">
</a></div>

<form class="text-center" action="/greetings" method="post">
  <div id="mainOptions" class="text-center">
    <input  type="text" class="form-control tex-center" name="user" placeholder="Type your name here">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
    <input type="radio" name="selectedRadio" id="option1" name="selectedRadio" value="Hello">English
  </label>
      <label class="btn btn-primary">
    <input type="radio" name="selectedRadio" id="option2" name="selectedRadio" value="Goeie more"> Afrikaans
  </label>
      <label class="btn btn-primary">
    <input type="radio" name="selectedRadio" id="option3" name="selectedRadio" value="Molo"> IsiXhosa
  </label>
    </div>
  </div>

  <div class="btn-group-main">
    <input type="submit" class="btn btn-success text-center" value="Greet Me">
    <a href="/greeted"><input class="btn btn-success text-center" value="View greeted Names" readonly="readonly"></a>
  </div>

</form>

{{#if messages.error }}
  <div class="error text-center">
    {{messages.error}}
  </div>
{{/if}}

{{#if output}}
  <p class="text-center">{{output}}</p>
{{/if}}
