<a href="/">Greet Someone</a>
<table class = "table table-condensed">
<thead>
      <tr>
         <!-- <th>#</th> -->
         <th>Greeted Names</th>
      </tr>
   </thead>

   <tbody>

     {{#each myusers}}
      <tr class = "success">
         <td>
           <a href="counter/{{this}}">{{this}}</a>
           </td>
      </tr>
      {{/each}}

   </tbody>

 </table>
